// =============================================================================
// CODE WINDOW COMPONENT
// =============================================================================

// -----------------------------------------------------------------------------
//
// Use this component to showcase embedded code.
// It uses prismjs for syntax highlighting so don't forget to include it.
//
// -----------------------------------------------------------------------------

.code-window
  margin-top 10vh //TODO: move outside of component?
  max-width 640px
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.5);
  > .menubar
    padding 0.5em
    font-family 'Monaco', monospace
    text-align center
    border-radius 8px 8px 0 0
    color black
    background linear-gradient(to bottom, #d0d0d0 0%,#878787);
  > .codearea
    background-color #272822
    padding 1em
