extends ../includes/layout.pug
include ../../components/components-index.pug

block links
  link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab:400,100,300,700,900', rel='stylesheet', type='text/css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='css/master.css')
block title
  title Article Title

block content
  header.nav
    .nav__wrapper
      ul
        li.menu: a(href='#bio') About
        li: a(href='#work') Work
        li: a(href='#contact') Contact

  section.hero
    .hero__wrapper
      .hero__logo= '</>'
      .hero__headline Thiago de Bastos
      .hero__subheadline Frontend Developer
    +code-window('code-window.styl', 'stylus')
      |mixin code-window(docname, lang)
      |  .code-window
      |    .menubar #{docname}
      |    .codearea
      |      pre.codeblock: code(class="language-"+lang)
      |        block

  section.bio#bio
    .section__deco
    .section__wrapper
      .section__content
        .section__header #AboutMe
        .section__text
          p I'm a passionate developer and a research, user-experience-focused designer always on the lookout for a driven, passionate, ego-free environment to contribute to.
          p I am creative, proficient with Javascript and am currently tackling ReactJS and Ruby head on!
          p I have had ample experience with web animations and my coding style leans more toward software engineering, for both reusability of modules, efficiency of coding and performance of websites and applications.
          p I use every bit of down time to study a new exciting tool or language and constantly brush up on my skills. I love to share my knowledge, learn from some and teach others.
  section.work#work
    .section__deco
    .section__wrapper
      .section__header #Work
      .gallery
        .gallery__wrapper
          +card('Vodafone MyMix', "img/vf_mymix.jpg")
          +card('Banner Zen', "./img/banner-zen.png")
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()
          +card()

  section.contact#contact
    .section__deco
    .section__wrapper
      .section__header #Contact
      form(action="https://formspree.io/thiago@thiagodebastos.com"
      method="POST").form
        .form__column
          .form__group
            label Name
            input(type="text" name="name")
          .form__group
            label Email
            input(type="text" name="_replyto")
        .form__column
          input(type="textarea" placeholder="Leave a message" name="inquiry")
        .form__column
          input(type="submit" value="send")



  section.social#social
    .section__deco
    .section__wrapper
      .section__header #Follow
      .social__icon-group
        .social__icon
          a(href="https://facebook.com/thiago.davoodifar" target={_blank}): i.fa.fa-facebook-square.fa-4x
        .social__icon
          a(href="https://twitter.com/thiagodebastos" target={_blank}): i.fa.fa-twitter.fa-4x
        .social__icon
          a(href="https://github.com/thiagodebastos" target={_blank}): i.fa.fa-github.fa-4x
        .social__icon
          a(href="https://www.linkedin.com/in/thiagodebastos" target={_blank}): i.fa.fa-linkedin.fa-4x
  footer
    p unlicense 2016. No rights reserved.
