@require 's-grid-settings'
@require 's-grid-functions'
@require 's-grid-classes'
@require 'rupture'
@require 'utilities/*'
@import '../components/*'

// =============================================================================
// CUSTOMS STYLES
// =============================================================================

a
button
  color: palette.accent

a
  text-decoration none
  &:hover
    color: palette.hue1

html
  overflow-x hidden

.section
  +e(wrapper)
    center(960)
    padding rem-calc(30)
  +e(header)
    margin-bottom rem-calc(20)
    font-size rem-calc(50)
    opacity: copy.light.hint
    text-transform uppercase
    font-family font-headers
    font-weight 700
  +e(content)
    position relative
    z-index 10
    font-family font-body
  +e(text)
    color: copy.light.colour

header
  grid(justify:'end')
  font-family font-headers
  background-color: palette.hue2
  color: copy.light.color
  ul
    grid(g)
    list-style-type none
    &:nth-child(1)
      padding-right rem-calc(20px)
  li
    cell(1,3)
  @media screen and (max-width: rem-calc(breakpoints[md]))
    display none
  a
    color white
    &:hover
      color: palette.accent

.hero
  background-color: background.hero
  color white
  position relative
  z-index 10
  display flex
  flex-direction column
  justify-content center
  align-items center
  +e(wrapper)
    display flex
    flex-direction column
    justify-content center
    align-items center
  +e(logo)
    font-size rem-calc(80)
    font-weight 700
  +e(headline)
    font-size rem-calc(70)
    font-family font-headers
    font-weight 900
  +e(subheadline)
    font-size rem-calc(40)
    font-family font-headers
    font-weight 400
    opacity: copy.light.secondary

.bio
  background-color: background.bio
  & .section__header
    color: copy.light.colour
  .section__text
    center(829)
    font-size rem-calc(18)
    line-height rem-calc(29)
.work
  & .section__header
    color: copy.dark.colour
  color: copy.dark.colour
  background-color: background.work
.gallery
  +e(wrapper)
    grid(cells-align:'stretch')
  .card
    cell(1,3, g: 20)
    grid()
    materialShadow()
    padding rem-calc(10)
    background-color: white
    opacity: copy.dark.primary
    z-index 10
    +e(image)
      cell(1,1,g:0)
      position relative
      height 200px
      overflow hidden
      background-repeat no-repeat
      background-size cover
      background-position center
    +e(title)
      cell(1,1,g:0)
      padding rem-calc(8)
      font-size rem-calc(12)
      border-top: solid 6px palette.hue3
      opacity 0.9
      background-color: palette.accent
      color: copy.light.colour
    @media screen and (max-width: rem-calc(820px))
      cell(1,2)
    @media screen and (max-width: rem-calc(600px))
      stack()

.contact
  background-color: background.contact
  color white
.social
  background-color: background.social
  color white
  +e(icon-group)
    display flex
    align-items center
    justify-content space-between
    height 50vh
  +e(icon)
    flex 1 1
    text-align center
    margin-right 2em
    i.fa
      opacity 0.8
      transition all 0.25s
      &:hover
        opacity 1
        color: palette.hue3
      color: white
section
  min-height 100vh
.section
  +e(deco)
    width 150px
    height 150px
    position relative
    top 0px
    left 50%
    margin-left -100px
    transform translateY(-50%) rotate(45deg)

.bio .section__deco
  background: background.hero

.work .section__deco
  background: background.bio

.contact .section__deco
  background: background.work

.social .section__deco
  background: background.contact

.form
  grid()
  color: copy.light.colour
  // materialShadow()
  +e(column)
    cell(1,2)
  +e(group)
    grid(g:30)
    label
      cell(1,8, g:30)
  input
    cell(7,8)
    border none
    background none
    border-bottom: 3px solid palette.accent
    opacity: copy.light.hint
    color: copy.light.colour
    &:focus
      opacity: copy.light.primary
      outline none
    &[type="textarea"]
      width 100%

@keyframes fadeIn
  0%
    opacity 0
    top 200px
  100%
    opacity 1
    top 0
